<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content=" width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <title>will@sudovim ~<%= request.path_info %> $</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" media="all" href="/normalize.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/layout.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/main.css" />
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
  </head>
  <body>

      <div id="header" class="flex">
        <div class="flex container">

          <div id="logo" class="extend flex">
            <a href="/">SudoVim</a>
          </div>

          <div id="search" class="flex">
            <form method="get" action="/search">
              <button type="submit">Search</button>
              <input type="text" name="q" />
            </form>
          </div>

        </div>
      </div>

      <div id="menu" class="flex">
        <div class="container flex">
          <a href="/tag/coding">Coding</a>
          <a href="/tag/design">Design</a>
          <a href="/tag/system">System</a>
          <a href="/tag/data">Data</a>
          <a href="/tools">Tools</a>
          <a href="/about">About</a>
        </div>
      </div>

      <div id="content" class="flex extend">
        <div class="container">
          <%= yield %>
        </div>
      </div>

      <div id="footer" class="flex">
          <p>Copyright &copy; 2014 Will Normand.</p>
      </div>

  </body>
</html>
