<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SudoVim</title>
  </head>
  <body>
    <div>
      <div>
        <h1>SudoVim</h1>
      </div>
      <div>
        <label>Search</label>
        <input type="text">
      </div>
    </div>
    <div>
      <div>
        <%= yield %>
      </div>
      <div>
        Menu
      </div>
    </div>
  </body>
</html>
