<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content=" width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <title>SudoVim</title>
    <link rel="stylesheet" type="text/css" media="all" href="/normalize.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/main.css" />
  </head>
  <body>

    <div class="wrapper">
      <div class="header">
        <div class="logo">
          <a href="/">SudoVim</a>
        </div>

        <div class="search">
          <form method="get" action="/search">
            <label>Search</label> <input type="text" name="q">
          </form>
        </div>
      </div>

      <div class="content">
        <%= yield %>
      </div>

      <div class="footer">
        <p>Copyright &copy; 2014 Will Normand.</p>
      </div>
    </div>

  </body>
</html>
