<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SudoVim</title>
  </head>
  <body>
    <div>
      <div>SudoVim</div>
      <div><input type="text"></div>
    </div>
    <%= yield %>
  </body>
</html>
