<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content=" width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <title>SudoVim</title>
    <link rel="stylesheet" type="text/css" media="all" href="/normalize.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/layout.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/main.css" />
  </head>
  <body>

      <div id="header" class="flex">
        <div class="flex container">

          <div id="logo" class="extend">
            <a href="/">SudoVim</a>
          </div>

          <div id="search">
            <form method="get" action="/search">
              <button type="submit">Search</button>
              <input type="text" name="q" />
            </form>
          </div>

        </div>
      </div>

      <div id="menu" class="flex">
        <div class="container flex">
          <a href="#">Apples</a><a href="#">Bananas</a><a href="#">Pears</a><a href="#">Cucumbers</a><a href="#">Watermelons</a><a href="#">Carrots</a>
        </div>
      </div>

      <div id="content" class="flex extend">
        <div class="container">
          <%= yield %>
        </div>
      </div>

      <div id="footer" class="flex">
          <p>Copyright &copy; 2014 Will Normand.</p>
      </div>

  </body>
</html>
