body, html {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.container {
  width: 90%;
  max-width: 980px;
  margin: auto;
}

.clear {
  clear: both;
}

#header {
  padding: 10px 0 10px 0;
  overflow: hidden;
}

#logo, #links, #search {
  display: inline-block;
  line-height: 27pt;
}

#search {
  float: right;
  min-width: 300px;
}
