body, html {
  font-family: Arial, sans-serif;
}

#header {
  background-color: #222222;
}

#menu {
  text-align: center;
  padding: 8px;
  background-color: #222222;
  border-bottom: 4px solid #FFCC55;
}

#menu a {
  padding: 2px 10px 10px 10px;
  font-weight: bold;
  color: #FFCC55;
}

#menu a:hover {
  color: #0077FF;
}

#content {
  margin-top: 20px;
}

#footer {
  color: #777777;
  text-align: center;
  font-size: 10pt;
}

#logo {
  font-size: 38pt;
  min-width: 200px;
}

#search input {
  height: 32px;
  width: 300px;
  color: #222222;
  padding: 3px;
  border-radius: 0;
  border: 0;
  vertical-align: middle;
  background-color: #DDDDDD;
  font-size: 16pt;
}

#search button {
  margin-right: 10px;
  vertical-align: middle;
  font-size: 18pt;
  height: 38px;
  display: inline-block;
  border: 0;
  border-radius: 0;
  color: #DDDDDD;
  background-color: transparent;
}

#search button:hover {
  text-decoration: underline;
}

a {
  color: #0077FF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.date {
  color: #333333;
  font-weight: bold;
  padding-top: 6px;
}

.post p.tags  {
  margin-top: 0;
  margin-bottom: 40px;
}

.post p.tags a {
  padding-left: 0;
  font-size: 11pt;
  padding-right: 10px;
  font-weight: bold;
  color: #DDAA00;
}

.post p {
  font-size: 12pt;
  margin-bottom: 8px;
  margin-top: 8px;
  line-height: 17pt;
}

.post > span.date {
  margin-top: 10px;
}

.post h1, .post h1 a {
  color: #333333;
  font-size: 24pt;
  margin: 0;
}

.post h5 {
  margin-top: 0;
  color: #555555;
  font-size: 20pt;
  text-align: center;
  font-weight: 100;
}

.post a {
  font-weight: bold;
}

.paginate {
  text-align: center;
  font-size: 28pt;
  margin: 40px 0 10px 0;
}

.paginate a {
  margin: 40px;
}

.about h2 {
  text-align: center;
}

