body, html {
  font-family: Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: #111111;
  width: 100%;
  height: 100%;
  display: -moz-box;
  display: -webkit-box;
  -moz-box-pack:center;
  -webkit-box-pack:center;
}

.wrapper {
  width: 1024px;
  display: -moz-box;
  display: -webkit-box;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
}

.header {
  display: -moz-box;
  display: -webkit-box;
  background-color: #111111;
  border-bottom: 16px solid #333333;
  color: #FFFFFF;
}

.footer {
  display: -mox-box;
  display: -webkit-box;
  background-color: #FFFFFF;
  color: #777777;
  text-align: center;
  font-size: 10pt;
  padding: 0;

}

.logo {
  padding: 20px;
  font-size: 32pt;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
}

.search {
  display: flex;
  align-items: center;
}

.search label {
  margin-right: 10px;
  font-size: 18pt;
}

.content {
  -moz-box-flex: 1;
  padding: 20px;
  background-color: #FFFFFF;
}

.menu {
  float:right;
  padding: 0 0 20px 20px;
  min-width: 200px;
  font-size: 14pt;
  line-height: 4pt;
  text-align: right;
}

a {
  color: #1155DD;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input {
  width: 350px;
  color: #000000;
  padding: 3px;
}

.date {
  font-size: 12pt;
  color: #999999;
  margin-left: 10px;
}

.post p {
  font-size: 11pt;
}

.post h3 {
  font-size: 16pt;
}

.paginate {
  text-align: center;
  font-size: 18pt;
  margin: 40px 0 10px 0;
}

.paginate a {
  margin: 40px;
}
