body, html {
  font-family: Arial, sans-serif;
}

#header {
  background-color: #222222;
}

#menu {
  text-align: center;
  padding: 8px;
}

#menu a {
  padding: 4px;
  font-weight: bold;
}

#content {
  margin-top: 30px;
}

@supports (display: flex) {
  #content {
    margin-top: 0px;
  }
}

#footer {
  color: #777777;
  text-align: center;
  font-size: 10pt;
}

#logo {
  font-size: 32pt;
  min-width: 200px;
}

#search input {
  height: 32px;
  width: 300px;
  color: #222222;
  padding: 3px;
  border-radius: 0;
  border: 0;
  vertical-align: middle;
  background-color: #DDDDDD;
  font-size: 16pt;
}

#search button {
  margin-right: 10px;
  vertical-align: middle;
  font-size: 18pt;
  height: 38px;
  display: inline-block;
  border: 0;
  border-radius: 0;
  color: #DDDDDD;
  background-color: transparent;
}

#search button:hover {
  text-decoration: underline;
}

a {
  color: #1177DD;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.date {
  font-size: 12pt;
  color: #222222;
  margin-left: 10px;
}

.post p {
  font-size: 11pt;
}

.post h3 {
  font-size: 20pt;
  margin-bottom: 0;
}

.paginate {
  text-align: center;
  font-size: 18pt;
  margin: 40px 0 10px 0;
}

.paginate a {
  margin: 40px;
}
