body, html {
  margin: 0px;
  padding: 0px;
  width: 100%;
  font-family: 'Open Sans', Arial, sans-serif;
  color: #333333;
}

.container {
  width: 90%;
  max-width: 980px;
  margin: auto;
}

#header {
  padding: 10px 0 10px 0;
  overflow: hidden;
}

#logo, #links, #search {
  display: inline-block;
  line-height: 27pt;
}

#search {
  float: right;
  min-width: 300px;
}


a {
  color: #3377FF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

pre {
  background-color: #F9F9F9;
  border: 1px dashed #CCCCCC;
  padding: 8px;
}


#logo > a {
  font-size: 24pt;
  min-width: 100px;
  color: #FFAA11;
}

#links > a {
  font-size: 16pt;
  padding-left: 20px;
  color: #999999;
}

#header {
  padding: 8px;
  border-bottom: 4px solid #FFAA11;
  background: #111111;
}

#search input {
  height: 26px;
  width: 300px;
  color: #555555;
  padding: 3px;
  border-radius: 0;
  border: 1px solid #333333;
  vertical-align: middle;
  background-color: #FFFFFF;
  font-size: 14pt;
}

#search button {
  margin-right: 10px;
  vertical-align: middle;
  font-size: 16pt;
  height: 38px;
  display: inline-block;
  border: 0;
  border-radius: 0;
  color: #999999;
  background-color: transparent;
}

#search button:hover {
  text-decoration: underline;
}

#footer {
  color: #777777;
  text-align: center;
  font-size: 10pt;
}



.post {
  padding: 0px 0 20px 0;
  border-bottom: 1px solid #DDDDDD;
}

.post p {
  font-size: 12pt;
  line-height: 17pt;
}

.post h1, .post h1 a {
  font-weight: 100;
  font-size: 20pt;
}

.post a {
  font-weight: bold;
}



.date {
  color: #333333;
  font-weight: bold;
}

.search {
  padding-top: 20px;
  padding-bottom: 0;
  color: #777777;
  font-size: 14pt;
  text-align: center;
  font-weight: 100;
}

.tags a {
  font-size: 11pt;
  font-weight: bold;
  color: #555555;
  padding-right: 2px;
}

.paginate {
  text-align: center;
  font-size: 24pt;
  margin: 40px 0 10px 0;
}

.paginate a {
  margin: 40px;
}

.about h2 {
  text-align: center;
}
