body {
  font-family: Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

a {
  color: #1155DD;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 36pt;
  margin: 10px;
}

.grid {
  margin: 0 0 20 0;
  max-width: 1024px;
  margin: auto;
}


.grid:after {
  content: "";
  display: table;
  clear: both;
}

.head {
  background-color: #111111;
  border-bottom: 16px solid #333333;
  color: #FFFFFF
}

.head .grid .logo {
  display: box;
  display: -moz-box;
  display: -webkit-box;
  width: 60%;
}

.head .grid .search {
  display: box;
  display: -moz-box;
  display: -webkit-box;
  padding-top: 20px;
  width: 40%;
}

.date {
  padding-left: 10px;
  font-size: 12pt;
  color: #999999;
}

.content {
  font-size: 14pt;
}

.post p {
  margin: 0;
  font-size: 11pt;
}

.post h3 {
  font-size: 16pt;
  margin: 24px 0 8px 0;
}

.paginate {
  margin: 20px;
  font-size: 18pt;
  text-align: center;
}

.paginate a {
  margin: 10px;
  padding: 10px 20px;
  background-color: #111111;
}
