body, html {
  font-family: Arial, sans-serif;
  letter-spacing: 0.6px;
}

#header {
  background-color: #222222;
}

#menu {
  text-align: center;
  padding: 8px;
}

#menu a {
  padding: 4px;
  font-weight: bold;
  color: #2266AA;
}

#content {
  margin-top: 10px;
}

@supports (display: flex) {
  #content {
    margin-top: 0px;
  }
}

#footer {
  color: #777777;
  text-align: center;
  font-size: 10pt;
}

#logo {
  font-size: 32pt;
  min-width: 200px;
}

#search input {
  height: 32px;
  width: 300px;
  color: #222222;
  padding: 3px;
  border-radius: 0;
  border: 0;
  vertical-align: middle;
  background-color: #DDDDDD;
  font-size: 16pt;
}

#search button {
  margin-right: 10px;
  vertical-align: middle;
  font-size: 18pt;
  height: 38px;
  display: inline-block;
  border: 0;
  border-radius: 0;
  color: #DDDDDD;
  background-color: transparent;
}

#search button:hover {
  text-decoration: underline;
}

a {
  color: #1177DD;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.date {
  font-size: 12pt;
  color: #333333;
  font-weight: bold;
  padding-top: 6px;
}

.post p {
  font-size: 12pt;
  margin-bottom: 8px;
  margin-top: 8px;
  line-height: 17pt;
}

.post > span.date {
  margin-top: 10px;
}

.post h3, .post h3 a {
  color: #333333;
  font-size: 24pt;
  margin: 0;
}

.post > p > a {
  display: inline-block;
  padding-left: 10px;
  font-weight: bold;
}

.tags {
  margin-top: 0;
  margin-bottom: 40px;
}

.tags a {
  font-size: 14pt;
  padding-right: 10px;
  font-weight: bold;
  color: #2266AA;
}

.paginate {
  text-align: center;
  font-size: 18pt;
  margin: 40px 0 10px 0;
}

.paginate a {
  margin: 40px;
}
